<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <div class="container py-3">
        <h4 class="mb-4">Feed</h4>
        <p style="margin-top: -20px;">All Members Around You</p>
        <hr>
        <% alluser.forEach(function(Members){ %>
          <% if(Members.role !== 'Community Admin') { %>   
            <div class="card" style="width: 20rem;">
                <img src="../images/uploads/<%= Members.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Username:<%= Members.username %></h5>
                  <a href="/addcommunity/<%= Members._id %>" class="btn btn-primary">Add Community</a>
                </div>
              </div>
         <% } %>
       <% }) %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>